# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [2]:
import pandas as pd

In [3]:
pd.set_option('display.max_columns', None) 

import warnings
warnings.filterwarnings('ignore') # ignore warnings

In [4]:
url='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url1='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
url2='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

In [5]:
df=pd.read_csv(url)
df1=pd.read_csv(url1)
df2=pd.read_csv(url2)

columns are not in the same orders

In [6]:
df_copie=df.copy()
df_copie.columns = [column.lower().replace(" ", "_") for column in df_copie.columns]
df_copie.rename(columns={'st': 'state'}, inplace=True) # rename column st by state

In [7]:
df_copie1=df1.copy()
df_copie1.columns = [column.lower().replace(" ", "_") for column in df_copie1.columns]
df_copie1.rename(columns={'st': 'state'}, inplace=True) # rename column st by state

In [8]:
df_copie2=df2.copy()
df_copie2.columns = [column.lower().replace(" ", "_") for column in df_copie2.columns]

In [9]:
# Re order the colonn of df_copie1 and df_copie2
df_copie1=df_copie1.reindex(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],axis=1)

In [10]:
df_copie2=df_copie2.reindex(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],axis=1)

In [11]:
df_copie1["number_of_open_complaints"]=[(str(complaint).split("/")[1]) if pd.notnull(complaint) else complaint for complaint in df_copie1["number_of_open_complaints"]]
# splits it by "/" and  access to the index element  [1]
df_copie1['customer_lifetime_value']= df_copie1['customer_lifetime_value'].str.rstrip("%") # drop % in the right of string
df_copie1["customer_lifetime_value"] = df_copie1["customer_lifetime_value"].astype(float)
df_copie1['income'] = df_copie1['income'].astype(float)
df_copie1['monthly_premium_auto'] = df_copie1['monthly_premium_auto'].astype(float)

In [12]:
df_copie1['number_of_open_complaints'] = df_copie1['number_of_open_complaints'].astype(int)

In [13]:
df_copie["number_of_open_complaints"]=[(str(complaint).split("/")[1]) if pd.notnull(complaint) else complaint for 
                                       complaint in df_copie["number_of_open_complaints"]]
# splits it by "/" and  access to the index element  [1]
df_copie['customer_lifetime_value']= df_copie['customer_lifetime_value'].str.rstrip("%") # drop % in the right of string
df_copie["customer_lifetime_value"] = df_copie["customer_lifetime_value"].astype(float)

In [14]:
df_copie['number_of_open_complaints'] = df_copie['number_of_open_complaints'].apply(lambda complaint: int(complaint) if pd.notnull(complaint) else complaint)

In [15]:
df_copie2['income'] = df_copie2['income'].astype(float)
df_copie2['monthly_premium_auto'] = df_copie2['monthly_premium_auto'].astype(float)

In [16]:
df_concat=pd.concat([df_copie,df_copie1,df_copie2], axis=0)

In [17]:
df_concat['gender']= df_concat['gender'].replace('Femal','F')
df_concat['gender']= df_concat['gender'].replace('female','F')
df_concat['gender']= df_concat['gender'].replace('Male','M')

In [18]:
df_concat.replace({'AZ':'Arizona',
            'Cali':'California',
            'WA':'Washington'}, inplace=True)

In [19]:
df_concat['education']=df_concat['education'].replace('Bachelors','Bachelor')

In [20]:
df_concat['vehicle_class']= df_concat['vehicle_class'].replace('Luxury Car','Luxury')
df_concat['vehicle_class']= df_concat['vehicle_class'].replace('Luxury SUV','Luxury')

In [21]:
# count number of null values 
df_concat.isnull().sum()

customer                     2937
state                        2937
gender                       3059
education                    2937
customer_lifetime_value      2944
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                2937
total_claim_amount           2937
dtype: int64

In [ ]:
df_concat.shape

In [37]:
#drop rows with null values 
df_final= df_concat=df_concat.dropna(how='all')

In [43]:
# fill null values Forward fill
df_concat["gender"] = df_concat["gender"].fillna(method="ffill")
df_concat["customer_lifetime_value"] = df_concat["customer_lifetime_value"].fillna(method="ffill")

In [47]:
df_concat= df_concat.fillna(method="bfill", limit=1)

In [48]:
df_final= df_concat.drop_duplicates()

In [ ]:
df_concat["gender"] = df_concat["gender"].fillna(method="ffill")
df_final= df_concat["customer_lifetime_value"] = df_concat["customer_lifetime_value"].fillna(method="ffill")

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [51]:
url3='https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'

In [53]:
df3=pd.read_csv(url3)

In [54]:
df3.dtypes

unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
month                              int64
dtype: object

In [55]:
df3.sample(3)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
339,339,CT51200,Oregon,5771.610372,No,Basic,High School or Below,2011-02-17,Employed,F,65709,Rural,Divorced,72,33.0,77,0.0,3,Corporate Auto,Corporate L3,Offer1,Web,12.945127,Four-Door Car,Medsize,A,2
5706,5706,JL15127,Nevada,9816.528302,Yes,Basic,College,2011-01-28,Employed,M,37256,Rural,Married,62,15.0,7,0.0,2,Personal Auto,Personal L3,Offer1,Branch,128.969729,Four-Door Car,Medsize,A,1
1929,1929,OO97388,Oregon,2855.687705,No,Basic,Master,2011-01-22,Employed,F,99612,Suburban,Married,70,14.0,20,0.0,1,Personal Auto,Personal L1,Offer2,Agent,336.000000,Two-Door Car,Small,A,1

In [64]:
df3['education'].unique()

array(['College', 'Bachelor', 'High School or Below', 'Doctor', 'Master'],
      dtype=object)

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [63]:
pivot_df_channel_1 = round(df3.pivot_table(values='customer_lifetime_value', index='sales_channel', aggfunc='sum'),2)
pivot_df_channel_1

               customer_lifetime_value
sales_channel
Agent                      33057887.85
Branch                     24359201.21
Call Center                17364288.37
Web                        12697632.90

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [69]:
pivot_df_channel_2 = df3.pivot_table(values="customer_lifetime_value", index=['education','gender',], aggfunc='mean')
pivot_df_channel_2

                             customer_lifetime_value
education            gender
Bachelor             F                   7874.269478
                     M                   7703.601675
College              F                   7748.823325
                     M                   8052.459288
Doctor               F                   7328.508916
                     M                   7415.333638
High School or Below F                   8675.220201
                     M                   8149.687783
Master               F                   8157.053154
                     M                   8168.832659

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [70]:
pivot_df3 = df3.pivot_table(values="number_of_open_complaints", index=['policy_type','month',], aggfunc='count')
pivot_df3

                      number_of_open_complaints
policy_type    month
Corporate Auto 1                           1252
               2                           1089
Personal Auto  1                           4329
               2                           3799
Special Auto   1                            237
               2                            204